.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square{
    transition: 3s ;
}

.ex-2-square:active{
    width: 101%;
}

.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square{
    transition: 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square{
    transition: 3s;
}

.ex-5-square:hover{
    transform: scale(1.5);
}

.ex-5-square:active{
    transform: scale(-1.5);
}

.ex-6-img{
    transition: 3s;
}

.ex-6-img:hover{
    filter: grayscale(100%)
}

.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: grayscale(100%) blur(10px);
}

.ex-8-img{
    transition: 3s;
}

.ex-8-img:hover{
    filter: grayscale(100%) blur(10px);
    border-radius: 50%;
}   

.ex-9-img{
    transition: 3s;
}

.ex-9-img:hover{
    transform: scale(1.5);
    filter: grayscale(50%) sepia(50%);
    border-radius: 50%;
}

.ex-10-icon{
    animation: spin-animation 1s infinite;
}

@keyframes spin-animation {
    0%{
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover{
    animation: spin 1s infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }

    75%{
        transform: rotate(270deg);
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bottomWhiteAnimation 3s linear;
}

@keyframes bottomWhiteAnimation {
    0%{
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 10%;
    }
}

.ex-12-button:hover .ex-12-top-white{
    animation: topWhiteAnimation 3s linear;
}

@keyframes topWhiteAnimation {
    0%{
        left: 20%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: bottomTotalWhiteAnimation 3s linear;
}

@keyframes bottomTotalWhiteAnimation {
    0%{
        bottom: -10px;
        right: 20%;
    }

    30%{
        right: calc(100%-30px);
        bottom: -10px;
    }

    45%{
        right: calc(100%-30px);
        bottom: 100%;
    }

    75%{
        right: 0;
        bottom: 100%;
    }

    90%{
        right: -15px;
        bottom: -10px;
    }

    100%{
        bottom: -10px;
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: topTotalWhiteAnimation 3s linear;
}

@keyframes topTotalWhiteAnimation {
    0%{
        left: -10%;
        top: -10px;
    }

    30%{
        left: calc(100%-30px);
        top: -10px;
    }

    45%{
        left: calc(100%-30px);
        top: 100%;
    }

    75%{
        left: 0;
        top: 100%;
    }

    90%{
        left: -15px;
        top: -10px;
    }

    100%{
        left: 10%;
        top: -10px;
    }
}
